.btn::before {
@apply scale-x-100 org

}


@layer utilities {
    .clip-polygon {
      clip-path: polygon(50% 0%, 100% 25%, 100% 100%, 0% 100%, 0% 25%);
    }
}



/* In your global.css or a specific CSS file for the component */
@keyframes slideLeftToRight {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes slideRightToLeft {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.slider-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}

.slide-image {
  position: absolute;
  width: 100%;
  height: 100%;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
