@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



/* In your global.css or a specific CSS file for the component */
@keyframes slideRightToLeft {
  0% {
    transform: translateX(400%);
  }

  100% {
    transform: translateX(-100%);
  }
}

/* Slide from left to right */
@keyframes slideLeftToRight {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

/* Slide from up to down */
@keyframes slideUpToDown {
  0% {
    transform: translateY(-200%);
  }

  100% {
    transform: translateY(200%);
  }
}

/* Slide from down to up */
@keyframes slideDownToUp {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(-1000%);
  }
}

.slider-wrapper {
  overflow: hidden;
  width: 90%;
  height: 100%;
  position: relative;
  border-radius: 80;
 
}

.slide-image {
  position: absolute;
  
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  z-index: 0;
  border-radius: 80;
}

.step:hover .line {

  transition-duration: 1s;
  height: 0px;
  
}

